#resume{
    position: relative;
    height: calc(100% - 40px);
    /* width: calc(100vw - 40px); */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: repeat(5, calc(100% / 5));
    grid-template-areas: 
    "intro   intro   intro   intro   ...     contact"
    "edu     edu     edu     ...     ...     contact"
    "workEx  workEx  workEx  workEx  workEx  ..."
    "workEx  workEx  workEx  workEx  workEx  ..."
    "workEx  workEx  workEx  workEx  workEx  ...";
}
#resume > .intro{
    grid-area: intro;
}
#resume > .intro-2{
    grid-area: intro2;
}
#resume > .contact{
    grid-area: contact;
}
#resume > .education{
    grid-area: edu;
}
#resume > .workEx{
    grid-area: workEx;
}
#resume > .workEx > .workEx-item{
    margin: 10px 0 0 20px;
}
#resume > .workEx > .workEx-item > h4{
    display: flex;
    justify-content: space-between;
}
#resume > .education > div{
    display: flex;
    justify-content: space-between;
}


.workEx-item-role::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: black;
    display: block;
    position: absolute;
}
#resume > .workEx > .workEx-item > .workEx-item-role{
    display: block;
}


